@* @model Hospital *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* <form asp-controller="Doctor"  class="style_form"  asp-action="DeleteHospital" method="post"> *@
@* *@
@*         <input asp-for="NameHospital" type="text" class="name" placeholder="Enter Name Hospitall" > *@
@*         <span asp-validation-for="NameHospital" class="text-danger"></span> *@
@* *@
@* *@
@*         <div class="for_button mb-3"> *@
@*              *@
@*             <button id="Add_Doctor" class="index-blm" type="submit"> *@
@*                 delete *@
@*             </button> *@
@*         </div> *@
@*     </form> *@
