@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <header class="bg-black text-white p-3 header">
      <div class="Foter">
        <button id="Doctors" class="index-blm">

            <a class="Blm" asp-controller="Doctor" asp-action ="List" >Doctors</a>

        </button>
  
        <button id="Registered" class="index-blm">
          <a class="Blm" asp-controller="Doctor" asp-action ="Registred" >Registred</a>
        </button>
  
        <button id="ID" class="index-blm">
           <a class="Blm" asp-controller="Doctor" asp-action ="SignIn" >Sign In</a>
        </button>
      </div>
    </header>

    <h1 class="h" id="h1">Search for doctors online</h1>
    <h2 class="h" id="h2">Make an appointment without leaving home</h2>

  <div class="dove">
    <input
      name="textfield"
      type="text"
      class="input"
      placeholder="Search Doctor"
    />
    <button class="find">Find</button>
  </div>
