@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
    <header  class="bg-black text-white p-3 header">
        <div class  = "Foter">
          
          
      
            <button class="index-blm ">
                 <a class="Blm" asp-controller="Doctor" asp-action ="Registred" >Registred</a>
            </button>
      
            <button class="index-blm">
               <a class="Blm" asp-controller="Doctor" asp-action ="" >Home</a>
            </button>
      
      
        </div>
      </header>
 <div class="reg-head">
        <h1 class =  "Sing">Sign in</h1>
        
    </div>
    <div class = "dove">
        <input  name="textfield" type="text" class="input"  placeholder="Enter your name" >
    </div>
    <div class = "dove" >    
        <input  name="textfield" type="text" class="in"  placeholder="Enter your password" >
    </div>
