.body{
    background-color: #B9CCE1;
    position: relative;
    height: 100vh;
}
#h1{
padding-top: 20vh;

 position: center;
 text-align: center;
 font-size: 80px;
 color: #222222;
}
#h2{
position: relative;
 position: center;
 text-align: center;
 font-size: 40px;
 color: #3E3E3E;
}
.input{
    justify-content: center;
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    outline: none;
    border: none;
	margin-bottom: 20px;
    font-size: 20px;



}
.in{
    justify-content: center;
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    outline: none;
    border: none;
	margin-bottom: 20px;
    font-size: 20px;
    margin-top: -30px;
}
.dove {
    display:flex;
    justify-content:center;

    margin: 60px 0;
    padding: 2px;   
    
}

#bottom{

    bottom: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    text-align: left;
    z-index: 99;
    height: 50px;
    
}

.footer-filler {
    height: 50px;
}

.find{
    background-color: #2780DD; 
    width: 7%;
    height: 60px;
    padding-left: 10px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px; 
    border: none;
    cursor: pointer;
    margin-left: 20px;
 
}
.find:hover {
    box-shadow: -2px 1px 2px 2px #3498db inset, -1px 1px 2px 2px #3498db;
      
      
}

.name{
    display: flex;
  
    margin:2px 0;
}
.h{
    margin: 40px;
}
.Foter{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 20px;
    font-size: 20px; 
}
.Blm{
    background-color:#3498db;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    text-decoration: none; 
}


#ID:hover{
    box-shadow: -2px 1px 2px 2px #3498db inset, -1px 1px 2px 2px #3498db;

}


#Registered:hover{
    box-shadow: -2px 1px 2px 2px #3498db inset, -1px 1px 2px 2px #3498db;
  
}

#Doctors:hover{
    box-shadow: -2px 1px 2px 2px #3498db inset, -1px 1px 2px 2px #3498db;

}
.Sing{

    text-align: center;
    margin: 10px;
    font-size: 60px
}
.Bp{    
    margin-left: 43%;
    background-color:rgb(220, 190, 221);
    color: white;
    border-radius: 60px;
    border:none;
    margin-top: 100px;
}
.got{
    display:flex;
    justify-content:center;
    width:100%;
    margin:0;
}
.go{
    background-color: #2780DD; 
    width: 10%;
    height: 60px;
    padding-left: 0px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px; 
    border: none;
    cursor: pointer;
    margin-left: 20px;
    font-size: 20px;
}
.go:hover{
    box-shadow: -2px 1px 2px 2px #3498db inset, -1px 1px 2px 2px #3498db;

}
.txt{
    color: white;
    text-decoration: none;
}


#home{
    position: relative;

    margin-left: 95%;
}
#Register{
    position: absolute;
    margin-left: 85%;
}
.index-blm{
    background-color:#2780DD;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    text-decoration: none; 
    margin-left: 20px;
}

.register-Blm{
    background-color:#2780DD;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    text-decoration: none; 
    margin-left: 85.7%;
}

.reg-name{
    background-color:#2780DD;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    text-decoration: none; 
}
.header{
    position: relative;
    height: 60px;
}
.reg-head{
    display: flex;
    justify-content: center;
    margin-top: 99px;
    

}
.Sing{
    color: #3E3E3E;

    
    border-radius: 35px;
    width: 450px;
    font-size: 100px;
}
.button-register{
    display: flex;
    justify-content: center;
    
}
.register-blm{
    
    background-color: #2780DD;
    width: 10%;
    height: 60px;
    border-radius: 35px;
    font-size: 25px;
}
.register-a-blm{
    text-decoration: none;
    color: white;
}

.photo{
    width: 80%;
    
}

.blockdocotr{
    position: absolute;
    
}
.ol{
    
    width: 100%;
}
.bort{
    display: flex;
    justify-content: center;

    border-radius: 25px;
}
.last{
    height: 100%;
    margin-top: 100px;

}

.main{
    position: absolute;
    display: flex;
    justify-content: right;
    width: 800vh;
    height: 80vh;
    margin-left: 15vh;

}
.but-com{
margin-left: 170vh;
margin-top: 40vh;
border-radius: 25px;
width: 300px;
color: white;
border: none;
background-color:  #2780DD;
}
.but-com:hover{
    box-shadow: -2px 1px 2px 2px #3498db inset, -1px 1px 2px 2px #3498db;
            
}
.lot{
    
    display: flex;

    justify-content: space-between;
    
}

.geter{
    
    margin-left: 20%;
}
.geer{
    margin-right: 20%;
}
.int{

    width: 27%;
    padding: 12px 20px;


    border-radius: 25px;
    text-align: center;
    outline: none;
    border: none;

    font-size: 20px;
}

.form_style{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Error_text{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 80px;
}
.Error{
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 5%;
    font-size: 300px;
}
.Find_button{
    border: none;
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.Find_button:hover{
    color: white;
}
.doc{
    margin-top: 4.5%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    
}
#add{
    display: flex;
    justify-content: center;
    margin-left: 45%;
    width:10%;
    height: 5%;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    border: none;
    background-color:  #2780DD;

}
.for_button{
    display: flex;
    justify-content: center;
    width: 100%;
}
#Add{
    height: 80px;
    width: 250px;
    font-size: 20px;
    border-radius: 55px;
}
.style_form{
    width: 100%;
    height: 100%;

    
}
.name{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border-radius: 35px;
    border: none;
    outline: none;
    height: 60px;
    text-align: center;
    margin-left: 20%;
}
.number{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border-radius: 35px;
    border: none;
    outline: none;
    height: 60px;
    text-align: center;
    margin-left: 20%;
}
.start{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border-radius: 35px;
    border: none;
    outline: none;
    height: 60px;
    text-align: center;
    margin-left: 20%;
}
.finish{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border-radius: 35px;
    border: none;
    outline: none;
    height: 60px;
    text-align: center;
    margin-left: 20%;
}
.image{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border-radius: 35px;
    border: none;
    outline: none;
    height: 60px;
    text-align: center;
    margin-left: 20%;
}
#Add_Doctor{
    margin-top: 5%;
        height: 80px;
    width: 250px;
    font-size: 20px;
    border-radius: 55px;
}
.Function{
    font-size: 35px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}
.Function:hover{
    color: #fff;
}


#link{
    margin-left: 0%;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: black;
}