html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.size {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    text-align: center;
}
.input_size{
    margin-bottom: 8%;
    text-align: center;
}
.fix_bug{
    margin-top: 0;
    margin-bottom: 3%;
    flex: 1 0 auto;
}
.bug{
    border-radius: 10px;
    width: 40%;
    margin-left: 32%;
    /* flex: 1 0 auto; */
}
.center{
    display: flex;
    justify-content: center;
}
footer {
    flex: 0 0 auto;


}
.size {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    text-align: center;
}
.input_size{
     margin-bottom: 8%;
     text-align: center;
 }