body{
    width: 100%;
}
.start{
    width: 100%;
}
.fix_bug{
    margin-bottom: 5em;
}
.size {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    text-align: center;
}
.input_size{
    margin-bottom: 8%;
    text-align: center;
}
.doc{
    
    margin-top: 8%;
    
    border-radius: 25px;
}
#bottom{
    margin-top: 8%;
}