@* @model Patient *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* <header  class="bg-black text-white p-3 header"> *@
@*     <div class  = "Foter"> *@
@*            *@
@*            *@
@*        *@
@*         <button class="index-blm "> *@
@*             <a class="Find_button" asp-controller="Register" asp-action ="Registred" >Registred</a> *@
@*         </button> *@
@*        *@
@*         <button class="index-blm"> *@
@*             <a class="Find_button" asp-controller="Doctor" asp-action ="" >Home</a> *@
@*         </button> *@
@*        *@
@*        *@
@*     </div> *@
@* </header> *@
@* *@
@* <div class="reg-head"> *@
@*     <h1 class =  "Sing">Sign in</h1> *@
@*          *@
@* </div> *@
@*  <form asp-controller="Register" class="form_style" asp-action="SignIn" method="post"> *@
@*     <div class = "dove"> *@
@*         <input  asp-for="Name" type="text" class="input"  placeholder="Enter your name" > *@
@*     </div> *@
@*      <div class = "dove" >     *@
@*          <input asp-for="Password" type="text" class="in"  placeholder="Enter your password" > *@
@*      </div> *@
@*      <button type = "submit"> *@
@*          Go *@
@*      </button> *@
@* </form> *@